p {
    font-size: 2em;
    color: white;
    font-weight: bold;
}

.button {
    padding: 20px;
    margin: 10px;
    text-transform: uppercase;
}

.button--start {
    background-color: green;
}

.button--stop {
    background-color: red;
} 

.button--reset {
    background-color: yellow;
} 

.button--lap {
    background-color: blue;
}

ul {
    color: white;
}